.chat-scroll {
  border-radius: 5px;
  overflow: hidden auto;
}

.chat-messages {
  padding-right: 10px;
  gap: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  flex: 1;
}

/* 
 * HACK: to put User info at the top on mobile until I figure out scrollbar.
 */
.chat .user-vertical {
  display: none;
}

.chat-mobile-stretch {
  display: none;
}

@media screen and (max-width: 1000px) {
  .chat-mobile-stretch {
    display: block;
    flex: 1;
  }

  .chat .user-vertical {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .chat .user-button {
    padding: 8px 35px;
  }
}
