/*
 * Normal button
 */
.button2 {
  min-width: 6em;

  outline: none;
  border: none;
  border-radius: 0.4em;

  color: #808080;
  background: #303030;

  cursor: pointer;
}

.button2:hover {
  background: #505050;
  color: black;
}

.button2:active {
  background: #808080;
  color: black;
}

.button2.good {
  color: floralwhite;
  background: #007F5F;
}

.button2.good:hover {
  background: #039e77;
  color: black;
}

.button2.good:active {
  background: #02cc99;
  color: black;
}


/* 
 * Clear button used for buttons with icons
 */
.button-clear {
  margin: 0.2em;

  outline: none;
  border: none;

  color: #808080;
  background: none;

  cursor: pointer;
}

.button-clear:hover {
  color: #505050;
}

.button-clear:active {
  color: firebrick;
}

.button-clear.good:active {
  color: #007F5F;
}

/*
 * Overlaid button. e.g. used for send button in chat
 */
.button-input-extend {
  outline: none;
  border: none;

  color: floralwhite;
  background: #303030;

  border-radius: 0 0.5em 0.5em 0;

  cursor: pointer;
}

.text-input:hover + .button-input-extend,
.text-input:active + .button-input-extend {
  background: #505050;
  color: black;
}

.text-input:focus + .button-input-extend {
  background: #808080;
  color: black;
}

/*

.button-input-overlaid:hover {
  color: #505050;
}

.button-input-overlaid:active {
  color: #007F5F;
}


textarea:focus + .button-input-overlaid:hover,
input:focus + .button-input-overlaid:hover {
  color: #303030;
}
*/

/*
 * Touch screens
 */
@media (hover: none) and (pointer: coarse) {
  .button2:hover {
    color: #808080;
    background: #303030;
  }

  .button-clear:hover {
    color: #808080;
  }

  .button-input-overlaid:hover {
    color: #808080;
  }
}
