.chat-input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-input {
  flex: 1;
  min-height: 3.25em;
  max-height: 20em;
  overflow: auto;
}

.chat-send-button {
  padding: 0 0.4em 0.2em 0.6em;
}

.chat-send-button > i {
  scale: 1.3;
}

