.chat-input-form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.chat-input {
  flex: 1;
}

.chat-send-button {
  padding: 0 0.4em 0 0.6em;
}

.chat-send-button > i {
  scale: 1.3;
}

