.chat-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-left: 0.5em;
}

.chat-list-add-button {
  display: block;
  scale: 0.75;
}

.chat-list-loading {
  color: #606060;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
