.chat-title-bar {
  height: 2.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.chat-title-bar-title {
  outline: none;
  border: none;
  white-space: nowrap;
  overflow: hide;
  cursor: pointer;
}

.chat-title-bar-title-edit {
  display: none;
  color: #808080;
}

.chat-title-bar-title:focus + .chat-title-bar-title-edit,
.chat-title-bar-title:hover + .chat-title-bar-title-edit,
.chat-title-bar-title-edit:hover {
  display: inline-block;
  color: #808080;
}

/*
 * Touch screens
 */
@media (hover: none) and (pointer: coarse) {
  .chat-title-bar-title-edit:focus,
  .chat-title-bar-title-edit:active,
  .chat-title-bar-title-edit:hover {
    display: none;
  }
}
