.chat-message-view {
  min-height: 100%;
  padding-right: 1em;
}

.chat-message-list {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  justify-content: flex-end;
}

.chat-message-context {
  border-radius: 0.8em;

  display: flex;
  flex-direction: column;

  gap: 0.6em;
}

.chat-message-context-menu {
  display: flex;
  flex-direction: row;
}

.chat-message-context-menu-button {
  flex: 1;
}

.chat-message {
  min-width: 2em;

  padding: 0.5em;
  border-radius: 0.5em;

  color: floralwhite;
  background: #005f7f;

  user-select: none;
}

.chat-message.user {
  align-self: flex-end;
  background: #007F5F;
  margin-left: 30px;
}

.chat-message.assistant {
  align-self: flex-start;
  background: #005f7f;
  margin-right: 30px;
}

.chat-message p:first-of-type {
  margin-top: 0;
}

.chat-message p:last-of-type {
  margin-bottom: 0;
}

.chat-message.user.pending {
  background: #004433;
}

.chat-message.error {
  background: #7f1f00;
}

.chat-message code {
  padding: 2px;
  font-family: 'Fira Mono', monospace;
  color: floralwhite;
  background: #303030;
  white-space: pre-wrap;
  display: inline-block;
  border-radius: 4px;
}

.chat-message.assistant code {
  background: #507575;
}

.chat-message.user code {
  background: #3c876e;
}

.chat-message pre > code {
  display: block;
  padding-left: 10px;
}

.chat-message-context .chat-message {
  overflow: hidden;
}

