.chat {
  overflow: hidden;

  height: 100%;
  display: grid;

  grid-template-columns: 1;
  grid-template-rows: 4em 1fr min-content min-content;
  grid-template-areas: 
    "titlebar"
    "."
    "messages"
    "input";

  gap: 1em;
}

.chat > .chat-message-scroll-view {
  grid-area: messages;
}
