.chat-title-bar {
  height: 2.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat-title-bar-title {
  white-space: nowrap;
  overflow: hide;
}

.chat-list .chat-title-bar-title {
  font-weight: 400;
  font-size: 1.2em;
}

.chat-list .chat-title-bar-button {
  scale: 0.75;
}

