.text-input {
  margin: 0;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  outline: none;
  resize: none;

  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;

  color: #808080;
  background: #303030;

  overflow: hidden;
}

.text-input:hover,
.text-input:active {
  background: #505050;
  color: #252525;
}

.text-input:focus {
  background: #808080;
  color: #252525;
}

.text-input:disabled {
  border: 2px solid #303030;
  background: #252525;
}

