.Home {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}

.sidebar-chats {
  width: 18em;
}
