.message {
  max-width: 98%;

  padding: 6px;
  border-radius: 5px;

  color: floralwhite;
  background: #005f7f;
}

.message.user {
  align-self: flex-end;
  background: #007F5F;
}

.message.user.pending {
  background: #004433;
}

.message.assistant {
  align-self: flex-start;
  background: #005f7f;
}

.message.assistant.pending {
  align-self: center;
  background: #003547;
}

.message.failed {
  /* HACK: we have these classes copied all over the place :( */
  background: #7f1f00 !important;
}

.message p:first-of-type {
  margin-top: 0;
}

.message p:last-of-type {
  margin-bottom: 0;
}

.message code {
  padding: 2px;
  font-family: 'Fira Mono', monospace;
  color: floralwhite;
  background: #303030;
  white-space: pre-wrap;
  display: inline-block;
  border-radius: 4px;
}

.message.assistant code {
  background: #507575;
}

.message.user code {
  background: #3c876e;
}

.message pre > code {
  display: block;
  padding-left: 10px;
}

