.message-form {
  width: 100%;
}

.message-input {
  outline: none;

  border: none;
  border-radius: 5px;

  padding: 5px 5px 6px 5px;
  width: 100%;
  height: auto;

  color: floralwhite;
  background: #303030;
}

.message-input:hover,
.message-input:active {
  background: #505050;
  color: black;
}

.message-input:focus {
  background: #808080;
  color: black;
}
