.message {
  width: 90%;
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid green;
  border-radius: 5px;
}

.message p:first-of-type {
  margin-top: 0;
}

.message p:last-of-type {
  margin-bottom: 0;
}

.message-role-assistant {
  border-color: blue;
}

.message-role-user {
  margin-left: 10%;
}
