.message {
  width: 90%;
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid green;
  border-radius: 5px;
}

.message-type-ai {
  border-color: blue;
}

.message-type-user {
  margin-left: 10%;
}
