.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form input {
  width: 25em;
  outline: none;

  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;

  border: none;
  border-radius: 5px;

  padding: 6px 6px 8px 6px;
  height: auto;

  color: floralwhite;
  background: #303030;
}

.auth-form input:hover,
.auth-form input:active {
  background: #505050;
  color: black;
}

.auth-form input:focus {
  background: #808080;
  color: black;
}

.auth-form button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: floralwhite;
  background: #007F5F;

  align-self: stretch;
}

.auth-form button:hover {
  background: #039e77;
  color: black;
}

.auth-form button:active {
  background: #02cc99;
  color: black;
}

.message.user {
  align-self: flex-end;
  background: #007F5F;
}

.message.user.pending {
  background: #004433;
}
