.user-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 3px;
}

.user-name {
  text-align: left;
  font-weight: 600;
  font-size: 1.25em;
  color: #808080;
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 8px;
}

.user-button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 6px;
  color: #808080;
  background: #303030;
  flex: 1;
}

.user-button:hover {
  background: #505050;
  color: black;
}

.user-button:active {
  background: #808080;
  color: black;
}
